@media screen and (max-width:991px){

    .sec1 {
        padding: 1rem 0 0 0;
    }
    .sec1 .right-home {
        padding: 0 !important;
    }

    .theme-btn {
        width: 3.125rem;
        height: 3.125rem;
    }

    .home-content{
        grid-template-columns:1fr;
        padding-bottom: 4rem;
    }

    .left-home .h-shape{
        display: none;
    }

    .right-home {
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
    }

    .right-home .name{
        font-size: 2.5rem !important;
    }

    .home-content .left-home .image {
        margin: 0 auto;
        width: 90%;
    }

    .abt-cont {
        grid-template-columns: 1fr;
    }

    .abt-cont .right-abt {
        grid-template-columns: 1fr;
        margin-top: 2rem;
        /* padding-top: 2.5rem; */
    }

    .abt-cont .left-abt {
        padding-right: 0;
    }

    .abt-cont .left-abt p{
        padding-left: 0;
    }

    .abt-stats .progress-bars{
        grid-template-columns: 1fr;
        
    }

    .timeline {
        grid-template-columns: 1fr;
        /* padding-bottom: 6rem; */
    }

    .sec2 {
        padding: 2rem 2.5rem !important;
    }

    .portfolios {
        grid-template-columns: 1fr;
        padding-bottom: 1rem;
    }

    .port-text {
        font-size: 1.2rem;
        padding: 5rem 0 0 0;
    }

    .sec3 {
        padding: 4rem 2.5rem !important;
    }

    .blogs {
        grid-template-columns: 1fr;
        padding-bottom: 3rem;
    }

    .sec4 {
        padding: 2rem 2.5rem !important;
    }

    .sec5 {
        padding: 4rem 2.5rem !important;
    }

    .main-title h2 {
        font-size: 2rem;
    }

    .main-title h2 .bg-txt {
        font-size: 3.8rem;
    }

    .icons {
        top : auto ;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: rgba(255, 255, 255, 0); 
    }

    .icons .icon {
        margin: 0.5rem 0.8rem ;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (min-width : 992px) and (max-width:1200px) {

    .abt-cont{
        grid-template-columns: 1fr;
    }
    .abt-cont .right-abt {
        margin-top: 2rem ;
    }

    .sec1 .right-home {
        padding-right: 2rem;
    }

    .sec2 {
        padding-left: 3rem;
        padding-right: 3rem !important;
    }

    .sec3 .main-title {
    margin-top: 2rem !important;
    }

    .sec5 .main-title {
        margin-top: 3rem !important;
    } 

    .portfolios {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 6rem;
    }

    .sec3 {
        padding: 2rem 8rem;
    }

    .blogs {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 6rem;
    }

    .sec4 {
        padding: 2rem 8rem;
    }

    .icons {
        top : auto ;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: rgba(255, 255, 255, 0); 
    }

    .icons .icon{
        margin: 0.5rem 0.8rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .icons .icon i {
        font-size: 0.9rem !important;
        padding: 0rem !important;
    }

    /* .theme-btn {
        width: 3.125rem;
        height: 3.125rem;
    } */

}

@media screen and (max-width:1400px) {

    /* .main-title {
        margin-top: 0rem !important;
    } */

    .blogs {
        padding-top: 2rem;
    }

    .contact-content-con {
        flex-direction: column;
        padding-bottom: 6rem;
    }

    .contact-content-con .right-contact {
        margin-left: 0;
        margin-top: 2.5rem;

    }

    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0 !important;
        margin-top: 1.5rem;
    }
}
